<h2>Account Login</h2>
<form class="d-flex flex-column justify-content-center align-items-center" action="/" method="POST">
  <div class="mb-3" style="width: 350px;">
    <input type="email" class="form-control form-control-lg border border-secondary" placeholder="Email" id="email" name="email" value="tony@stark.com">
  </div>
  <div class="mb-3" style="width: 350px;">
    <input type="password" class="form-control form-control-lg border border-secondary" placeholder="Password" id="password" name="password" value="iamironman">
  </div>
  <button type="submit" class="btn btn-outline-secondary btn-lg mt-3">Sign in</button>
</form>